<h1>Your Text Analysis</h1>

<h2>Number of Words: <%=@text.split(" ").length%></h2>

<h2>Vowels: <%=@text.upcase.scan(/[AEIOU]/).length%></h2>

<h2>Consonants: <%=@text.upcase.scan(/[A-Z]/).length - @text.upcase.scan(/[AEIOU]/).length%></h2>

<%= x = 0 %>
<%= y = "" %>
<% [*("A".."Z")].each do |letter| %>
  <%= a = @text.upcase.count(letter) %>
  <%if a >= x%>
    <%= x = a %>
    <%= y = letter %>
  <% end %>
  <% #binding.pry%>
<% end %>

<h2>Most Common Letter: <%="#{y}"%>, used <%="#{x}"%> times</h2>

